.carousel{
  height: 79.2vh !important;
}

.carousel .carousel-item > img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.arrow-container {
    position: absolute;
    top: 50%;
    width: 100%;
  }
  
.left-arrow, .right-arrow {
  position: absolute;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.left-arrow{
  left: 30px;
}

.right-arrow{
  right: 30px;
}

.left-arrow::before, .left-arrow::after,
.right-arrow::before, .right-arrow::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #ccc;
}

.left-arrow::before {
  transform: rotate(-45deg);
  top: 22px;
  left: 15px;
}

.left-arrow::after {
  transform: rotate(45deg);
  bottom: 22px;
  left: 15px;
}

.right-arrow::before {
  transform: rotate(45deg);
  top: 22px;
  right: 15px;
}

.right-arrow::after {
  transform: rotate(-45deg);
  bottom: 22px;
  right: 15px;
}
  
.left-arrow:hover::before, .left-arrow:hover::after,
.right-arrow:hover::before, .right-arrow:hover::after {
  background-color: #fff;
}


/* Breakpoint for small screens (600px to 767px) */
@media only screen and (max-width: 600px) {
}

/* Breakpoint for medium screens (768px to 991px) */
@media only screen and (max-width: 768px) {
}

/* Breakpoint for large screens (992px to 1199px) */
@media only screen and (max-width: 992px) {

  .carousel{
    height: 100vh !important;
    background-color: #000;
  }

  .project .details .content{
    width:  100%;
  }
}

/* Breakpoint for extra large screens (1200px and up) */
@media only screen and (max-width: 1200px) {
}

/* Breakpoint for desktop (1200px and up) */
@media only screen and (min-width: 1200px) {
}