<!-- Binnen een container -->
<!-- Project 1 Section -->
<div id="projects" class="projects">
    <section class="project v1 container">
        <div class="row valign-wrapper">
            <div class="col s12 m6 info">
                <h2>Project 1</h2>
                <p>   
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="col s12 m6"></div>
        </div>

        <img class="bg" src="https://placehold.co/2560x1440/EEE/000" alt="Background">
    </section>

    <!-- Project 2 Section -->
    <section class="project v2 container">
        <div class="row">
            <div class="col s12 m6">
                <div id="ProjectCarousel" class="carousel carousel-slider" data-indicators="true">
                    <a class="carousel-item" href="#one!"><img src="resources/images/600x400.png"></a>
                    <a class="carousel-item" href="#two!"><img src="resources/images/600x400.png"></a>
                    <a class="carousel-item" href="#three!"><img src="resources/images/600x400.png"></a>
                    <a class="carousel-item" href="#four!"><img src="resources/images/600x400.png"></a>
                </div>
                <div class="arrow-container">
                    <div id="prev" class="left-arrow"></div>
                    <div id="next" class="right-arrow"></div>
                </div>
            </div>
            <div class="col s12 m6">
                <h2>Project 2</h2>
                <p>   
                    Curabitur pretium tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis et commodo pharetra, est eros bibendum elit, nec luctus magna felis sollicitudin mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcor
                </p>
            </div>
        </div>
    </section>

    <!-- Fullscreen -->
     <!-- Project 1 Section -->
    <section class="project v1 fullscreen projectOne">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h2>Project 1</h2>
                    <p>   
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <div id="ProjectCarouselOne" class="carousel carousel-slider" data-indicators="true">
                        <a class="carousel-item" href="#one!"><img src="https://placehold.co/2560x1440/EEE/000"></a>
                        <a class="carousel-item" href="#two!"><img src="https://placehold.co/2560x1440/EEE/000"></a>
                        <a class="carousel-item" href="#three!"><img src="https://placehold.co/2560x1440/EEE/000"></a>
                        <a class="carousel-item" href="#four!"><img src="https://placehold.co/2560x1440/EEE/000"></a>
                    </div>
                    <div class="arrow-container">
                        <div id="prev" class="left-arrow"></div>
                        <div id="next" class="right-arrow"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Project 2 Section -->
    <section class="project v2 fullscreen">
        <div class="row">
            <div class="col s12 m6 projectTwo">
                <h2>Project 2</h2>
                <p>   
                    Curabitur pretium tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis et commodo pharetra, est eros bibendum elit, nec luctus magna felis sollicitudin mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcor
                </p>
                <div id="ProjectCarouselTwo" class="carousel carousel-slider" data-indicators="true">
                    <a class="carousel-item" href="#one!"><img src="https://placehold.co/2560x1440/EEE/000"></a>
                    <a class="carousel-item" href="#two!"><img src="https://placehold.co/2560x1440/EEE/000"></a>
                    <a class="carousel-item" href="#three!"><img src="https://placehold.co/2560x1440/EEE/000"></a>
                    <a class="carousel-item" href="#four!"><img src="https://placehold.co/2560x1440/EEE/000"></a>
                </div>
                <div class="arrow-container">
                    <div id="prev" class="left-arrow"></div>
                    <div id="next" class="right-arrow"></div>
                </div>
            </div>
            <div class="col s12 m6 projectThree">
                <h2>Project 3</h2>
                <p>   
                    Curabitur pretium tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis et commodo pharetra, est eros bibendum elit, nec luctus magna felis sollicitudin mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcor
                </p>
                <div id="ProjectCarouselThree" class="carousel carousel-slider" data-indicators="true">
                    <a class="carousel-item" href="#one!"><img src="https://placehold.co/2560x1440/EEE/000"></a>
                    <a class="carousel-item" href="#two!"><img src="https://placehold.co/2560x1440/EEE/000"></a>
                    <a class="carousel-item" href="#three!"><img src="https://placehold.co/2560x1440/EEE/000"></a>
                    <a class="carousel-item" href="#four!"><img src="https://placehold.co/2560x1440/EEE/000"></a>
                </div>
                <div class="arrow-container">
                    <div id="prev" class="left-arrow"></div>
                    <div id="next" class="right-arrow"></div>
                </div>
            </div>
        </div>
    </section>
</div>
